In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df.head()

   age  gender   review education purchased
0   33  Female  Average    School        No
1   36    Male  Average    School        No
2   86    Male     Good    School        No
3   23    Male  Average        PG       Yes
4   50    Male     Good        UG        No

In [4]:
df =df.iloc[:,2:]

In [5]:
df.sample(5)

     review education purchased
35     Poor        UG       Yes
0   Average    School        No
44  Average        UG        No
33  Average        PG        No
2      Good    School        No

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1], test_size=0.2)

In [7]:
X_train

     review education
44  Average        UG
35     Poor        UG
19     Good        UG
4      Good        UG
12     Good    School
2      Good    School
22  Average        UG
15  Average        UG
24     Good        PG
43     Good    School
13     Good    School
41  Average        PG
27  Average        PG
25     Poor        UG
16  Average    School
26     Good        PG
48     Poor        UG
23     Poor        UG
20     Good        UG
42     Poor    School
31  Average        UG
29     Good        UG
0   Average    School
14     Good        UG
46     Good        UG
39     Good        PG
34  Average    School
6      Poor        UG
3   Average        PG
11     Good        UG
21  Average        PG
7      Good        UG
9      Poor    School
28     Good    School
32     Good        PG
1   Average    School
10     Poor        UG
36  Average        PG
30     Good        PG
33  Average        PG

In [8]:
from sklearn.preprocessing import OrdinalEncoder
od = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [9]:
od.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [10]:
X_train = od.transform(X_train)
X_test = od.transform(X_test)

In [11]:
X_train

array([[1., 1.],
       [0., 1.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [1., 2.],
       [1., 2.],
       [0., 1.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [0., 1.],
       [1., 2.],
       [2., 1.],
       [1., 2.],
       [2., 1.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [1., 0.],
       [0., 1.],
       [1., 2.],
       [2., 2.],
       [1., 2.]])

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [14]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [15]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [16]:
y_train

array([0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0])