In [2]:
import pandas as pd
import numpy as np

In [3]:
movie_df = pd.read_csv('TMDB.csv')

In [4]:
movie_df.head(10)

,original_title,overview,genres
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,Drama
5,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...","Comedy, Drama, Romance"
6,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...","Animation, Family, Fantasy"
7,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller"
8,기생충,"All unemployed, Ki-taek's family takes peculia...","Comedy, Thriller, Drama"
9,The Green Mile,A supernatural tale set on death row in a Sout...,"Fantasy, Drama, Crime"

In [5]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9108 entries, 0 to 9107
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  9108 non-null   object
 1   overview        9106 non-null   object
 2   genres          9106 non-null   object
dtypes: object(3)
memory usage: 213.6+ KB

In [6]:
movie_df[movie_df['overview'].isnull()]

          original_title overview                                     genres
951       ヱヴァンゲリヲン新劇場版：序      NaN  Animation, Science Fiction, Action, Drama
8893  Natale in crociera      NaN                                     Comedy

In [7]:
movie_df[movie_df['genres'].isnull()]

,original_title,overview,genres
3109,Anplagghed al cinema,"A queue at the ATM machine, a displaced family...",NaN
3735,RETURN,8mm work directed by Norihiko Morinaga.,NaN

In [8]:
movie_new_df = movie_df.dropna()

In [9]:
movie_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9104 entries, 0 to 9107
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  9104 non-null   object
 1   overview        9104 non-null   object
 2   genres          9104 non-null   object
dtypes: object(3)
memory usage: 284.5+ KB

# Lowercasing

In [10]:
movie_new_df['original_title']= movie_new_df['original_title'].str.lower()
movie_new_df['overview'] = movie_new_df['overview'].str.lower()
movie_new_df['genres'] = movie_new_df['genres'].str.lower()

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\315783777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['original_title']= movie_new_df['original_title'].str.lower()
C:\Users\as233\AppData\Local\Temp\ipykernel_21180\315783777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['overview'] = movie_new_df['overview'].str.lower()
C:\Users\as233\AppData\Local\Temp\ipykernel_21180\315783777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['genres'] = movie_new_df['genres'].str.lower()

In [11]:
movie_new_df.loc[0]['overview']

'framed in the 1940s for the double murder of his wife and her lover, upstanding banker andy dufresne begins a new life at the shawshank prison, where he puts his accounting skills to work for an amoral warden. during his long stretch in prison, dufresne comes to be admired by the other inmates -- including an older prisoner named red -- for his integrity and unquenchable sense of hope.'

# Remove Punctuations

In [12]:
movie_new_df.head(10)

,original_title,overview,genres
0,the shawshank redemption,framed in the 1940s for the double murder of h...,"drama, crime"
1,the godfather,"spanning the years 1945 to 1955, a chronicle o...","drama, crime"
2,the godfather part ii,in the continuing saga of the corleone crime f...,"drama, crime"
3,schindler's list,the true story of how businessman oskar schind...,"drama, history, war"
4,12 angry men,the defense and the prosecution have rested an...,drama
5,दिलवाले दुल्हनिया ले जायेंगे,"raj is a rich, carefree, happy-go-lucky second...","comedy, drama, romance"
6,千と千尋の神隠し,"a young girl, chihiro, becomes trapped in a st...","animation, family, fantasy"
7,the dark knight,batman raises the stakes in his war on crime. ...,"drama, action, crime, thriller"
8,기생충,"all unemployed, ki-taek's family takes peculia...","comedy, thriller, drama"
9,the green mile,a supernatural tale set on death row in a sout...,"fantasy, drama, crime"

In [13]:
movie_new_df.shape

(9104, 3)

In [14]:
import string

In [15]:
char_word = string.punctuation
def remove_punc(text):
    return text.translate(str.maketrans('','', char_word))

In [16]:
movie_new_df['overview'] = movie_new_df['overview'].apply(remove_punc)

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\3319768695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['overview'] = movie_new_df['overview'].apply(remove_punc)

In [17]:
movie_new_df['genres'] = movie_new_df['genres'].apply(remove_punc)

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\121178046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['genres'] = movie_new_df['genres'].apply(remove_punc)

In [18]:
movie_new_df.head()

,original_title,overview,genres
0,the shawshank redemption,framed in the 1940s for the double murder of h...,drama crime
1,the godfather,spanning the years 1945 to 1955 a chronicle of...,drama crime
2,the godfather part ii,in the continuing saga of the corleone crime f...,drama crime
3,schindler's list,the true story of how businessman oskar schind...,drama history war
4,12 angry men,the defense and the prosecution have rested an...,drama

# Spelling Correction

In [19]:
#!pip install swifter

In [20]:
import swifter

In [21]:
from textblob import TextBlob

In [22]:
def spelling_correct(text):
    blb = TextBlob(text)
    return blb.correct().string

In [23]:
text = movie_new_df.loc[0]['overview']

In [24]:
spelling_correct("framed in the 1940s for the double murder of his wife and her lover upstanding banker andy dufresne begins a new life at the shawshank prison where he puts his accounting skills to work for an amoral warden during his long stretch in prison dufresne comes to be admired by the other inmates  including an older prisoner named red  for his integrity and unquenchable sense of hope")

'framed in the 1940s for the double murder of his wife and her lover standing banker andy duquesne begins a new life at the shawshank prison where he puts his accounting skill to work for an moral garden during his long stretch in prison duquesne comes to be admired by the other inmates  including an older prisoner named red  for his integrity and unquenchable sense of hope'

In [28]:
#movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(spelling_correct)

# Stopwords

In [26]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\as233\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [27]:
stop_words = set(stopwords.words('english'))
def remove_stopwords(sentence):
    words = sentence.split()
    filtered_words = [word for word in words if word not in stop_words]
    return " ".join(filtered_words)

In [28]:
movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(remove_stopwords)

Pandas Apply:   0%|          | 0/9104 [00:00<?, ?it/s]

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\3107540291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(remove_stopwords)

In [29]:
movie_new_df.loc[0]['overview']

'framed 1940s double murder wife lover upstanding banker andy dufresne begins new life shawshank prison puts accounting skills work amoral warden long stretch prison dufresne comes admired inmates including older prisoner named red integrity unquenchable sense hope'

# Tokenization

In [30]:
import spacy

In [31]:
nlp = spacy.load('en_core_web_sm')

In [32]:
def tokenization(text):
    return nlp(text)

In [33]:
movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(tokenization)

Pandas Apply:   0%|          | 0/9104 [00:00<?, ?it/s]

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\3820461763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(tokenization)

In [34]:
movie_new_df['genres'] = movie_new_df['genres'].swifter.apply(tokenization)

Pandas Apply:   0%|          | 0/9104 [00:00<?, ?it/s]

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\4292164936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['genres'] = movie_new_df['genres'].swifter.apply(tokenization)

In [37]:
movie_new_df.head(10)

,original_title,overview,genres
0,the shawshank redemption,"(framed, 1940s, double, murder, wife, lover, u...","(drama, crime)"
1,the godfather,"(spanning, years, 1945, 1955, chronicle, ficti...","(drama, crime)"
2,the godfather part ii,"(continuing, saga, corleone, crime, family, yo...","(drama, crime)"
3,schindler's list,"(true, story, businessman, oskar, schindler, s...","(drama, history, war)"
4,12 angry men,"(defense, prosecution, rested, jury, filing, j...",(drama)
5,दिलवाले दुल्हनिया ले जायेंगे,"(raj, rich, carefree, happygolucky, second, ge...","(comedy, drama, romance)"
6,千と千尋の神隠し,"(young, girl, chihiro, becomes, trapped, stran...","(animation, family, fantasy)"
7,the dark knight,"(batman, raises, stakes, war, crime, help, lt,...","(drama, action, crime, thriller)"
8,기생충,"(unemployed, kitaeks, family, takes, peculiar,...","(comedy, thriller, drama)"
9,the green mile,"(supernatural, tale, set, death, row, southern...","(fantasy, drama, crime)"

In [44]:
movie_new_df.loc[0]['overview']

framed 1940s double murder wife lover upstanding banker andy dufresne begins new life shawshank prison puts accounting skills work amoral warden long stretch prison dufresne comes admired inmates including older prisoner named red integrity unquenchable sense hope

# Stemming

In [41]:
from nltk import WordNetLemmatizer

In [54]:
def stemming(tokens):
    wordnet_lemmatizer = WordNetLemmatizer()
    sent = [wordnet_lemmatizer.lemmatize(token.text) for token in tokens]
    return sent

In [56]:
movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(stemming)

Pandas Apply:   0%|          | 0/9104 [00:00<?, ?it/s]

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\2307086190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['overview'] = movie_new_df['overview'].swifter.apply(stemming)

In [57]:
movie_new_df['genres'] = movie_new_df['genres'].swifter.apply(stemming)

Pandas Apply:   0%|          | 0/9104 [00:00<?, ?it/s]

C:\Users\as233\AppData\Local\Temp\ipykernel_21180\273646323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new_df['genres'] = movie_new_df['genres'].swifter.apply(stemming)

In [58]:
movie_new_df.head(10)

,original_title,overview,genres
0,the shawshank redemption,"[framed, 1940s, double, murder, wife, lover, u...","[drama, crime]"
1,the godfather,"[spanning, year, 1945, 1955, chronicle, fictio...","[drama, crime]"
2,the godfather part ii,"[continuing, saga, corleone, crime, family, yo...","[drama, crime]"
3,schindler's list,"[true, story, businessman, oskar, schindler, s...","[drama, history, war]"
4,12 angry men,"[defense, prosecution, rested, jury, filing, j...",[drama]
5,दिलवाले दुल्हनिया ले जायेंगे,"[raj, rich, carefree, happygolucky, second, ge...","[comedy, drama, romance]"
6,千と千尋の神隠し,"[young, girl, chihiro, becomes, trapped, stran...","[animation, family, fantasy]"
7,the dark knight,"[batman, raise, stake, war, crime, help, lt, j...","[drama, action, crime, thriller]"
8,기생충,"[unemployed, kitaeks, family, take, peculiar, ...","[comedy, thriller, drama]"
9,the green mile,"[supernatural, tale, set, death, row, southern...","[fantasy, drama, crime]"

list