In [31]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
df.head()

   R&D Spend  Administration  Marketing Spend  Profit
0       17.0            14.0             47.0    19.0
1        NaN            15.0             44.0    19.0
2       15.0            10.0             41.0    19.0
3       14.0             NaN             38.0    18.0
4       14.0             9.0              NaN    17.0

In [4]:
df.isnull().mean()*100

R&D Spend          16.0
Administration     10.0
Marketing Spend    14.0
Profit              0.0
dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        42 non-null     float64
 1   Administration   45 non-null     float64
 2   Marketing Spend  43 non-null     float64
 3   Profit           50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [6]:
X = df.iloc[:,0:-1]
X.head()

   R&D Spend  Administration  Marketing Spend
0       17.0            14.0             47.0
1        NaN            15.0             44.0
2       15.0            10.0             41.0
3       14.0             NaN             38.0
4       14.0             9.0              NaN

In [7]:
y = df.iloc[:,-1]
y.head()

0    19.0
1    19.0
2    19.0
3    18.0
4    17.0
Name: Profit, dtype: float64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,-1] = np.NaN

In [ ]:
df.head()

In [ ]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend'] = df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [ ]:
# 0th Iteration
df0

In [ ]:
# Remove the col1 imputed value
df1 = df0.copy()

df1.iloc[1,0] = np.NaN

df1

In [ ]:
# Use first 3 rows to build a model and use the last for prediction

X = df1.iloc[[0,2,3,4],1:3]
X

In [ ]:
y = df1.iloc[[0,2,3,4],0]
y

In [ ]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[1,1:].values.reshape(1,2))

In [ ]:
df1.iloc[1,0] = 23.14

In [ ]:
df1

In [ ]:
# Remove the col2 imputed value

df1.iloc[3,1] = np.NaN

df1

In [ ]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[[0,1,2,4],[0,2]]
X

In [ ]:
y = df1.iloc[[0,1,2,4],1]
y

In [ ]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

In [ ]:
df1.iloc[3,1] = 11.06

In [ ]:
df1

In [ ]:
# Remove the col3 imputed value
df1.iloc[4,-1] = np.NaN

df1

In [ ]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[0:4,0:2]
X

In [ ]:
y = df1.iloc[0:4,-1]
y

In [ ]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

In [ ]:
df1.iloc[4,-1] = 31.56

In [ ]:
# After 1st Iteration
df1

In [ ]:
# Subtract 0th iteration from 1st iteration

df1 - df0

In [ ]:
df2 = df1.copy()

df2.iloc[1,0] = np.NaN

df2

In [ ]:
X = df2.iloc[[0,2,3,4],1:3]
y = df2.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[1,1:].values.reshape(1,2))

In [ ]:
df2.iloc[1,0] = 23.78

In [ ]:
df2.iloc[3,1] = np.NaN
X = df2.iloc[[0,1,2,4],[0,2]]
y = df2.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))

In [ ]:
df2.iloc[3,1] = 11.22

In [ ]:
df2.iloc[4,-1] = np.NaN

X = df2.iloc[0:4,0:2]
y = df2.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

In [ ]:
df2.iloc[4,-1] = 31.56

In [ ]:
df2

In [ ]:
df2 - df1

In [ ]:
df3 = df2.copy()

df3.iloc[1,0] = np.NaN

df3

In [ ]:
X = df3.iloc[[0,2,3,4],1:3]
y = df3.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[1,1:].values.reshape(1,2))

In [ ]:
df3.iloc[1,0] = 24.57

In [ ]:
df3.iloc[3,1] = np.NaN
X = df3.iloc[[0,1,2,4],[0,2]]
y = df3.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))

In [ ]:
df3.iloc[3,1] = 11.37

In [ ]:
df3.iloc[4,-1] = np.NaN

X = df3.iloc[0:4,0:2]
y = df3.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

In [ ]:
df3.iloc[4,-1] = 45.53

In [ ]:
df2.iloc[3,1] = 11.22

In [ ]:
df3

In [ ]:
df3 - df2

In [11]:
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer

In [12]:
X_train.head()

    R&D Spend  Administration  Marketing Spend
12        9.0            13.0             25.0
4        14.0             9.0              NaN
37        NaN             5.0             20.0
8         NaN            15.0             31.0
3        14.0             NaN             38.0

In [13]:
imputer_it = IterativeImputer()
X_train_trf = imputer_it.fit_transform(X_train)
X_test_trf = imputer_it.transform(X_test)

In [15]:
pd.DataFrame(X_train_trf,columns=X_train.columns).head()

   R&D Spend  Administration  Marketing Spend
0   9.000000       13.000000        25.000000
1  14.000000        9.000000        37.962131
2   4.438781        5.000000        20.000000
3  10.863932       15.000000        31.000000
4  14.000000       12.396391        38.000000

In [18]:
from sklearn.impute import KNNImputer
imputer_knn = KNNImputer(n_neighbors=3)
X_train_trf2 = imputer_knn.fit_transform(X_train)
X_test_trf2 = imputer_knn.transform(X_test)

In [23]:
pd.DataFrame(X_train_trf2,columns=X_train.columns).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        40 non-null     float64
 1   Administration   40 non-null     float64
 2   Marketing Spend  40 non-null     float64
dtypes: float64(3)
memory usage: 1.1 KB

In [32]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
y_pred

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([10.,  8., 10.,  7., 11.,  8., 10., 10., 10., 10.])

In [33]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.3