In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('covid_new.csv')

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2, random_state=42)

In [24]:
X_train.shape

(80, 5)

In [9]:
# si = SimpleImputer()
# X_train_fever = si.fit_transform(X_train[['fever']])

# X_test_fever = si.fit_transform(X_test[['fever']])
# X_train_fever

In [10]:
# oe = OrdinalEncoder(categories=[['Mild','Strong']])
# X_train_cough = oe.fit_transform(X_train[['cough']])

# X_test_cough = oe.fit_transform(X_test[['cough']])
# X_train_cough.shape

In [11]:
# ohe = OneHotEncoder(drop='first',sparse=False)
# X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# X_test_gender_city = ohe.fit_transform(X_test[['city','gender']])

# X_train_gender_city

In [12]:
# X_train_age = X_train.drop(columns=['gender','city','cough','fever']).values

In [13]:
# X_train_age

In [14]:
# X_test_age = X_test.drop(columns=['gender','city','cough','fever']).values

In [15]:
# X_train_transform = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)

In [16]:
# X_train_transform

In [17]:
# X_test_transform = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

In [18]:
# X_train_transform.shape

In [19]:
from sklearn.compose import ColumnTransformer

In [20]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [21]:
transformer.fit_transform(X_train).shape

C:\Users\HP\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [22]:
transformer.transform(X_test).shape

(20, 7)

In [23]:
X_train.head()

    age  gender  fever cough     city
55   81  Female  101.0  Mild   Mumbai
88    5  Female  100.0  Mild  Kolkata
26   19  Female  100.0  Mild  Kolkata
42   27    Male  100.0  Mild    Delhi
69   73  Female  103.0  Mild    Delhi