In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('placement data.csv')

In [3]:
df.head()

   age  gender  highschool_marks division vehical_type branch placement
0   23  female              74.0   second         bike     it       yes
1   21  female               NaN    third          car     it       yes
2   25    male              61.0   second        cycle     it        no
3   19  female              90.0    first         bike    cse       yes
4   22    male               NaN    third          car    ece       yes

In [4]:
df.isnull().sum()

age                  0
gender               0
highschool_marks    13
division             0
vehical_type         0
branch               0
placement            0
dtype: int64

In [5]:
df.describe()

              age  highschool_marks
count  200.000000        187.000000
mean    22.240000         79.224599
std      2.688595         11.245684
min     18.000000         60.000000
25%     20.000000         70.000000
50%     22.500000         79.000000
75%     25.000000         89.000000
max     26.000000         98.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               200 non-null    int64
 1   gender            200 non-null    object
 2   highschool_marks  187 non-null    float64
 3   division          200 non-null    object
 4   vehical_type      200 non-null    object
 5   branch            200 non-null    object
 6   placement         200 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 11.1+ KB

In [7]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['placement']), df['placement'], test_size=0.2, random_state=42)

In [10]:
from sklearn.compose import ColumnTransformer

In [11]:
# X_train

In [14]:
df.head()

   age  gender  highschool_marks division vehical_type branch placement
0   23  female              74.0   second         bike     it       yes
1   21  female               NaN    third          car     it       yes
2   25    male              61.0   second        cycle     it        no
3   19  female              90.0    first         bike    cse       yes
4   22    male               NaN    third          car    ece       yes

In [12]:
ct = ColumnTransformer(transformers=
                  [('tnf1',SimpleImputer(),['highschool_marks']),
                  ('tnf2',OneHotEncoder(sparse=False,drop='first'),['gender','vehical_type','branch']),
                ('tnf3',OrdinalEncoder(categories=[['first','second','third']]),['division'])],remainder='passthrough')

In [13]:
ct.fit_transform(X_train).shape

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).